<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="static/css/style.css" rel="stylesheet">

</head>
<body>
<!--  <div class="topnav">
    <ul>
      <li ><a href="/"><h4>Home</a></h4></li>
      <li ><a href="/all_tweets"><h4>Apps</a></h4></li>
    </ul>
  </div>
 -->


 <div class="topnav">
  <a class="active" href="/">Sign In</a>
  <a href="/all_tweets">Comments</a>
  <a href="/signup">Sign Up</a>
</div>
    

    <p class="art" id="a1">1.BoA, Super Junior's Eunhyuk, 2PM's Wooyoung & Kang Daniel bring their charisma for the cover of '1st Look' <br>For this pictorial, the fight judges of 'Street Man Fighter' including BoA, Super Junior's Eunhyuk, 2PM's Wooyoung, and MC Kang Daniel showcased their charisma and teamwork, posing in chic black and white outfits. In their individual cuts, each of the celebrities conveyed a unique mood using expressive colors, poses, etc. <br>Meanwhile, BoA, Eunhyuk, Wooyoung, and Kang Daniel plan on greeting viewers soon on Mnet's dance competition program 'Street Man Fighter', premiering on August 23 at 10:20 PM KST.

</p><br>
    <p class="art" id="a2">2.BTS's j-hope to guest on 'Kim Eana's Starry Night'<br>On August 4, MBC radio program 'Kim Eana's Starry Night' confirmed that BTS member j-hope will be appearing as a guest.<br>
J-hope is expected to greet viewers on the August 10 broadcast of 'Starry Night' for approximately 90 minutes, chatting about his solo debut album. Listeners can look forward to an in-depth discussion about j-hope's song-writing process with DJ Kim Eana, a top lyricist in the genre of K-Pop. </p><br>
    

    <p class="art" id="a3">3.ATEEZ take home #1 on this week's 'Show Champion' with 'Guerrilla'<br>On the August 3 broadcast of MBC every1's 'Show Champion', ATEEZ successfully took home their second #1 trophy since their comeback with "Guerrilla"!<br>On this day, the first place nominees for this week's 'Champion Song' included: ATEEZ's "Guerrilla", ITZY's "SNEAKERS", STAYC's "Beautiful Monster", LOCO, Hwa Sa's "Somebody!" and Seventeen's "_WORLD". In the end, ATEEZ's "Guerrilla" was declared the winner!</p>

    <form method="post" action="/home">
        <div id="first">
            <div>
                <br>
                <label>Article Name:</label>
                <div>
                    <input id="ai" type="text"  name="text"  required>
                </div>
            </div>
            <br><br>
            <div>
                <label>Comment:</label>
                <div class="input-group">
                    <input id="coi" type="title"  name="title" maxlength="280">
                </div>
            </div>


            <div >
                <input id="sub" value="Submit Comment" type="submit"/>
            </div>
        
        </div>

    </form>
    
</body>
</html>