<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signin</title>
<link href="static/css/style.css" rel="stylesheet">
</head>
<body>

    <div class="bk"></div>

    <form method="post" action="/">
        <!-- Heading -->
        <h1 class="font"><center>K-News</center></h1>

        <!-- Subheading -->
        <p id="about">About us</p>
        <p id="us">Welcome to K-News where all the latest news about k-pop idols and bands exist, as soon as you sign in you will be able to see the newest articles and you will be able to share your opinions on them in the comment section! </p>

        <div class="first">
            <h4><center>K-News</center></h4>
            <div>
                <label>Email addres:</label>
                <div>
                    <input class="inp" id="inp1" type="email"  name="email" id="emailStr" required>
                </div>
            </div>
            <br><br>
            <div>
                <label >Password:</label>
                <div class="input-group">
                    <input class="inp" id="inp2" type="password"  name="password" minlength="6">
                </div>
            </div>

            <br>

            <div>
                <input id="button" type="submit" value="Sign In"/>
            </div>
        </div>
  
    </form>
                 <br><br><br><br><br>
          <p id="SU">Don't have an account!<a href="/signup"><button id="SUB">signup</button></a></p>
   <!--  <br>
      Don't have an account!<a href="/signup"><button>signup</button></a>
    </div> -->

</body>
</html>