<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link href="static/css/style.css" rel="stylesheet">
</head>
<body>

    <div class="sbk"></div>
    
    <form method="post" action="/signup">
        <div class="topnav">
          <a class="active" href="/home">Home</a>
          <a href="/">Sign In</a>
          <a href="/all_tweets">Comments</a>
        </div>


        <!-- Heading -->
        <h2><center>
            Create an account :)</center>
        </h2>


        <div id="second">

            <div>
                <label>Email address:</label>
                <div>
                    <input class="spi" id="spi5" type="email"  name="email" id="emailStr" required>
                </div>
            </div>
            <br>
            <div>
                <label>Password:</label>
                <div class="input-group">
                    <input class="spi" id="spi1" type="password"  name="password" minlength="6">
                </div>
            </div>

            <br>

            <div>
                <label>Full_name:</label>
                <div class="input-group">
                    <input class="spi" id="spi2" type="full_name"  name="full_name">
                </div>
            </div>

            <br>

            <div>
                <label>Username:</label>
                <div class="input-group">
                    <input class="spi" id="spi3" type="username"  name="username" >
                </div>
            </div>
            <br>

<!--             <div>
                <label>Bio:</label>
                <div class="input-group">
                    <input class="spi" id="spi4" type="bio"  name="bio" maxlength="280">
                </div>
            </div>
 -->
            <div>
                <input value="Sign Up" id="supb" type="submit"/>
            </div>
        </div>
    </form>


</body>
</html>