<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Great Job!
    <form method="post" action="/add_tweet">

        <div>
            <label>Text</label>
            <div>
                <input type="text"  name="text" id="emailStr" required>
            </div>
        </div>
        <div>
            <label>Title</label>
            <div class="input-group">
                <input type="title"  name="title" maxlength="280">
            </div>
        </div>

    </form>



</body>
</html>